REACT_APP_IMAGE_UPLOAD_PRESET=abcdefg  // you can get this from your cloudinary preset page /setting page /preset setup section
REACT_APP_CLOUDINARY_API_URL=https://api.cloudinary.com/v1_1/cloudkey/upload // you can get your caloud key from your clodinary home page