

// dark mode
// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$soft-bg-hover: #95a7ca;
$soft-bg-active: #384756;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$table-border-color: #384756;




// light mode
// BG
$main-bg-light: #f6f3f3;
$soft-bg-active-light: #384756;
$table-border-color-light: #ddd;

//TEXT
$main-color-light: #222;
$soft-color-light: #555;
$btn-color-light: darkblue;